
### .gitignore

```plaintext
# Python
*.py[cod]
*.ipynb_checkpoints

# Environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Streamlit cache and secrets
streamlit/secrets.toml
streamlit/cache/

# Data files
movie_dict.pkl
similarity.pkl

# Jupyter Notebooks
.ipynb_checkpoints

# General
*.log
*.csv
.DS_Store
